* {
  font-family: "Lisu Bosa", serif;
  color: #323a49;
}

.weatherwrapper {
  max-width: 680px;
  margin: 2rem auto 0 auto;
  padding: 15px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/098/510/original/Untitled-1.png?1696016663");
  border: 3px solid #ebeef1;
  border-radius: 10px;
  box-shadow: -10px -5px 10px -1px rgba(251, 239, 230, 0.7),
    10px 5px 10px -1px rgba(255, 224, 206, 0.16);
}
.weather {
  margin: 14px 5px 16px 5px;
}

/*======================
     current situation
========================*/
.current-situation-box {
  margin: 50px 0 0 10px;
  background-color: rgb(255, 232, 218);
  border: 3px solid #ffe8da;
  border-radius: 50% 10% 40% 10%;
  box-shadow: -8px -5px 10px -1px rgb(251, 239, 230),
    10px 5px 10px -1px rgb(255, 224, 206);
  transition: all 300ms ease-in-out;
  color: #323a49;
}

.current-situation-box:hover {
  border: 3px solid #ffe8da;
  box-shadow: -10px -10px 10px -1px rgba(253, 231, 217, 0.7),
    10px 10px 10px -1px rgba(245, 217, 200, 0.16),
    inset -5px -5px 10px -1px rgba(255, 255, 255, 0.5),
    inset 5px 5px 10px -1px rgba(161, 90, 46, 0.16);
}
.row-icon-city-date {
  margin-bottom: 0;
}
.location-icon {
  margin: 30px 0 0 55px;
  font-size: 34px;
  color: #1e3050;
}
div .city-date {
  padding-top: 30px;
  margin-left: 8px;
}
div .current-city {
  margin-bottom: 0;
  font-size: 20px;
  text-transform: capitalize;
}
.current-date {
  line-height: 10px;
  font-weight: 900;
  font-size: 12px;
  color: #696a6c;
}
.current-tempature,
span#temperature {
  margin: 10px 0 0px 10px;
  font-size: 60px;
  font-family: "Ruwudu", serif;
  color: #1e3050;
}

#unit-sub {
  font-size: 25px;
  transition: all 250ms ease-in-out;
}
#unit-sub:hover {
  font-size: 20px;
  cursor: pointer;
}
image .current-situation-icon {
  margin: 0 4px;
  border: #1e3050;
}

div .current-situation-text {
  margin: 0 0 24px 0px;
  display: inline;
  font-size: 16px;
  color: #696a6c;
  text-transform: capitalize;
}
div .hw {
  font-size: 17px;
  max-width: 70%;
  border-radius: 10% 50% 10% 50%;
  box-shadow: -8px -5px 10px -1px rgb(250, 239, 230),
    10px 5px 10px -1px rgb(245, 217, 200);
  margin: 70px 5px;
  padding: 1em 1.5em;
  transition: all 250ms ease-in-out;
}
div .hw:hover {
  background-color: #ffe8da;
  box-shadow: -10px -10px 10px -1px rgba(253, 231, 217, 0.7),
    10px 10px 10px -1px rgba(245, 217, 200, 0.16),
    inset -5px -5px 10px -1px rgba(255, 255, 255, 0.5),
    inset 5px 5px 10px -1px rgba(161, 90, 46, 0.16);
}

.location-btn {
  width: 100%;
  background-color: #ffe8da;
  border: none;
  border-radius: 50% 5px 50% 5px;
  box-shadow: -8px -5px 10px -1px rgb(253, 231, 217),
    10px 5px 10px -1px rgb(245, 217, 200);
  padding: 0.5em;
  box-shadow: -8px -5px 10px -1px rgb(251, 239, 230),
    10px 5px 10px -1px rgb(255, 224, 206),
    -5px -5px 10px -1px rgba(255, 255, 255, 0.5),
    5px 5px 10px -1px rgba(161, 90, 46, 0.16);
}
.location-btn:hover {
  box-shadow: -10px -10px 10px -1px rgba(253, 231, 217, 0.7),
    10px 10px 10px -1px rgba(245, 217, 200, 0.16),
    inset -5px -5px 10px -1px rgba(255, 255, 255, 0.5),
    inset 5px 5px 10px -1px rgba(161, 90, 46, 0.16);
}
/*=======================
     next days situation
==========================*/
.next-day-forecast {
  text-align: center;
  border: none;
  border-radius: 40% 40% 20% 20%;
  box-shadow: -8px -5px 10px -1px rgb(251, 239, 230),
    10px 5px 10px -1px rgb(255, 224, 206);
  margin: 12px 6px 12px 10px;
  transition: all 300ms ease-in-out;
  padding: 12px;
}
.next-days {
  margin-left: 20px;
}
.next-day-forecast:hover {
  border: none;
  box-shadow: -10px -10px 10px -1px rgba(253, 231, 217, 0.6),
    10px 10px 10px -1px rgba(245, 217, 200, 0.2),
    inset -5px -5px 10px -1px rgba(255, 255, 255, 0.6),
    inset 5px 5px 10px -1px rgba(161, 90, 46, 0.2);
}
div h5 {
  margin: 18px auto 0 auto;
  color: #1e3050;
  opacity: 0.6;
}

.next-day-situation {
  margin: 14px auto 10px auto;
  font-size: 12px;
  color: #696a6c;
}

.next-day-icon {
  display: block;
  text-align: center;
  max-width: 80px;
}
.next-day-temprature-max {
  margin: 36px auto 36px auto;
  font-size: 22px;
  color: #1e3050;
}
.next-day-temprature-min {
  margin: 36px auto 36px auto;
  font-size: 22px;
  color: #1e3050;
  opacity: 0.5;
}

/*==================
   add repo link
   ==================*/
p.author {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  font-size: 12px;
  color: #696a6c;
  padding: 0.5em 2em;
}
.repolink {
  text-decoration: none;
}
